<!DOCTYPE html>
<html ng-app="chestnut">
    <head>
        <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">

        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/angular.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/angular-pre.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/django-request-pre.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/encrypt.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/chestnut-request.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}js/angular-home.js"></script>
        <script type="text/javascript">
            function get_wechat_info(){
                var username, password;
                username = document.getElementById('wechat_username').value;
                password = document.getElementById("wechat_password").value;
                get_wechat_user_info(username, password, get_wechat_user_info_callback);
            }

        </script>
    </head>
    <body>
        {{ response_str }}
        <form method="post" action="{% url 'account:login'%}">
            {% csrf_token %}
            <input name="username" type="text" placeholder="username"/>
            <input name="password" type="password" placeholder="password"/>
            <input type="submit" value="登录"/>
        </form>
        <input type="button" value="获取微信公众号信息" onclick="get_wechat_info()">

        <form method="post" action="{% url 'account:signup'%}">
            {% csrf_token %}
            <[your_name]>
            <input name="wechat_username" id="wechat_username" type="text" value="bargetor_public@sina.com" placeholder="请输入微信公众帐号"/>
            <input name="wechat_password" id="wechat_password" type="password" value="lanqiao@mj" placeholder="请输入微信公众帐号密码"/>
            <input name="wechat_default_id" type="text" id="wechat_default_id"/>
            <input type="text" ng-model="your_name"/>
            <input type="submit" value="注册"/>
        </form>

        <div ng-controller="WechatInfoController">

            <table >
                <tr>
                    <td>头像</td>
                    <td><[wechat_info.pic]></td>
                </tr>
                <tr>
                    <td>名称</td>
                    <td><[wechat_info.name]></td>
                </tr>
                <tr>
                    <td>登录邮箱</td>
                    <td><[wechat_info.account_name]></td>
                </tr>
                <tr>
                    <td>原始ID</td>
                    <td><[wechat_info.wechat_default_id]></td>
                </tr>
                <tr>
                    <td>微信号</td>
                    <td><[wechat_info.wechat_id]></td>
                </tr>
                <tr>
                    <td>主体信息</td>
                    <td><[wechat_info.owner_info]></td>
                </tr>
            </table>
            <input type="button" value="ng-获取微信公众帐号信息" ng-click="get_wechat_user_info_by_angular('bargetor_public@sina.com', 'lanqiao@mj')"/>

        </div>

    </body>

</html>
