<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/angular.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/django-request-pre.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/encrypt.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/chestnut-request.js"></script>
    </head>
    <body>
        {{ response_str }}
        <form method="post" action="{% url 'account:login'%}">
            {% csrf_token %}
            <input name="username" type="text" placeholder="username"/>
            <input name="password" type="password" placeholder="password"/>
            <input type="submit" value="登录"/>
        </form>
        <input type="button" value="获取微信公众号信息" onclick="get_wechat_user_info('bargetor_public@sina.com', 'lanqiao@mj');">

        <form method="post" action="{% url 'account:signup'%}">
            {% csrf_token %}
            <input name="wechat_username" type="text" value="bargetor_public@sina.com" placeholder="请输入微信公众帐号"/>
            <input name="wechat_password" type="password" value="lanqiao@mj" placeholder="请输入微信公众帐号密码"/>
            <input name="wechat_defualt_id" type="text" id="wechat_defualt_id"/>
            <input type="submit" value="注册"/>
        </form>

    </body>

</html>
