<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/django-request-pre.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/encrypt.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/chestnut-request.js"></script>
    </head>
    <body>
        {{ response_str }}
        <form method="post" action="{% url 'login'%}">
            {% csrf_token %}
            <input name="username" type="text" placeholder="username"/>
            <input name="password" type="password" placeholder="password"/>
            <input type="submit" value="登录"/>
        </form>
        <input type="button" value="获取微信公众号信息" onclick="get_wechat_user_info('bargetor_public@sina.com', 'lanqiao@mj');">

    </body>

</html>
